[Desktop Entry]
Name=DownloadDaemon Client
Version=0.9
Encoding=UTF-8
Comment=Manage your DownloadDaemon server
Exec=ddclient-wx
Icon=ddclient-wx.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;FileTransfer;
